MONGO_DB_NAME=stocker_db
MONGO_HOST=db
MONGO_PORT=27017
MONGO_USER=stocker_admin
MONGO_PASSWORD=stocker_pass
MONGO_AUTH_SOURCE=admin
DJANGO_SECRET_KEY=django-insecure-2&50dk!enqqh1^gnnj!#(g0r)f*l+p!@7u3*cd=x8^6==m8oar
DJANGO_DEBUG=True

